{% extends 'app/app.html' %}
{% load static %}

{% block content %}


<h2 class="tasks-list">As minhas tarefas</h2>


{% for msg in messages %}
    <div class="msg-success" id="message-container" role="alert">
        {{ msg }}
    </div>
{% endfor %}




<table class="tasks-table">
    <thead class="table-thead">
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Data final</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td class="descricao">{{ task.description }}</td>
            <td>{{ task.category }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.get_status_display }}</td>
            <td>
                <button class="btn-editar" data-url="{% url 'editartarefa' task.id %}"><i class="fa fa-pencil"></i></button>
                <button class="btn-apagar" data-url="{% url 'apagartarefa' task.id %}"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="btns">
    <button class="btn-criar-tarefa" id="btn-criar-tarefa">Criar Tarefa</button>
</div>

<script src="https://kit.fontawesome.com/46cc1fa2d2.js" crossorigin="anonymous"></script>

<style>
  .tasks-list {
            text-align: center;
            margin-top: 50px;
        }

        .msg-success {
            margin: 30px auto;
            border: 1px solid rgb(195, 230, 203);
            border-radius: 5px;
            width: 40%;
            background-color: rgb(195, 230, 203);
            height: 50px;
            padding: 15px;
            text-align: center;
            color: rgb(21, 87, 36);
        }

        .tasks-table {
            width: 70%;
            margin: auto;
            border-collapse: collapse;
        }

        .tasks-table th, .tasks-table td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        .table-thead {
            background-color: rgb(50, 56, 62);
            color: #fff;
        }

        .btn-editar {
            border: none;
            background-color: rgb(0, 123, 255);
            color: #fff;
            border-radius: 5px;
            padding: 10px;
        }

        .btn-apagar {
            border: none;
            background-color: rgb(220, 53, 69);
            color: #fff;
            border-radius: 5px;
            padding: 10px;
        }

        .btn-check{
            border: none;
            background-color: rgb(40, 167, 69);
            color: #fff;
            border-radius: 5px;
            padding: 10px;
        }

        .btns{
            margin-top: 20px;
            text-align: center;
        }

        .btn-criar-tarefa{
            background-color: #17a2b8;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: #fff;
            font-size: 16px;
        }

        .descricao {
            max-width: 200px;
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
            text-align: left;
        }

</style>

<script>
    
    window.onload = function() {
        
        var messageContainer = document.getElementById('message-container');
        
        if (messageContainer) {
            
            setTimeout(function() {
                messageContainer.style.display = 'none';
            }, 4000);
        }
    };

    // -------------------- BOTÕES COM HREF -------------------- //

    document.getElementById('btn-criar-tarefa').addEventListener('click', function() {
        window.location.href = "{% url 'criartarefa' %}"
    })

    document.querySelectorAll('.btn-editar').forEach(function(button) {
    button.addEventListener('click', function() {
            var editUrl = this.getAttribute('data-url');
            window.location.href = editUrl;
        });
    });

    document.querySelectorAll('.btn-apagar').forEach(function(button) {
    button.addEventListener('click', function() {
            var editUrl = this.getAttribute('data-url');
            window.location.href = editUrl;
        });
    });

    document.querySelectorAll('.btn-check').forEach(function(button) {
    button.addEventListener('click', function() {
            var editUrl = this.getAttribute('data-url');
            window.location.href = editUrl;
        });
    });


</script>
  
  
{% endblock %}