{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <title>Task Manager</title>
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'favicon/favicon.png' %}" style="height: 40px;">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'base' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link" href="{% url 'signup' %}">Criar Conta</a>
        </li>
      </ul>
    </div>
  </nav>
    
    {% block content %}
    <h1 class="h1-base">Bem vindo!</h1>
    <h4 class="h4-base">TaskManager, cria e gerencia as tua tarefas.</h4>
    {% endblock %}

    <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    .h1-base{
      text-align: center;
      margin-top: 30vh;
    }
    
    .h4-base{
      text-align: center;
      font-size: 20px;
    }
    </style>
</body>
</html>
